.bio-container{
    width: 80%;
    height: 476px;
    margin: 0 10% 0 10%;
    text-align: justify;
}

img {
    float: left;
    padding-right: 2px;
}
#text-bio-container{
  padding: 0 10% 0 10%;
}

.card{
    float: left;
    width: 20rem;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
  }

  .footer-container {
    margin-left: 40%;
    width: 50%;
    padding: 10px;
    font-size: small;
  }

  iframe{
    float: left;
    margin: 0 10% 0 10%;
}